@import url("fonts.css");
@import url("reset.css");

.caption{
    text-align: center;
    margin-top: 20px;
}

.caption__title{
    font-family: "Timmana" , fantasy;
    font-size: 55px;
    font-weight: 900;
    color: rgba(49, 52, 79, 1);
}


.footer{
    text-align: center;
    font-size: 40px;
}

.about{
    color: white;
} 

.about__wrapper{
    padding: 119px;
    font-size: 0px;
    background: url("../img/about.png");
}

.about__text{
    margin: 0 auto;
    width: 992px;
    font-family: 'Exo' , sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

.about__title {
    display: inline-block;
} 

.about__title h2{
    padding: 0px 50px;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.17;
    text-transform: uppercase;
} 

.about__title::after{
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      hsl(0deg 100% 50%),
      hsl(104deg 100% 50%),
      hsl(248deg 100% 50%)
    );
    margin: 20px 0px;
} 

.about__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 222%;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-align: center;
} 



.list-about{
    width: 1150px;
    margin: 0 auto;
} 

.list-about__item{
    font-family: "Orbitron";
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    display: inline-block;
    text-transform: capitalize;
} 
.list-about__item::after{
    padding: 7px 0px;
    margin:  0px 60px;
    content: "";
    width: 10px;
    height: 11px;
    border-radius: 100%;
    background-image: linear-gradient(
    to right,
    hsl(0deg 100% 50%),
    hsl(104deg 100% 50%),
    hsl(248deg 100% 50%)
    );
}
.list-about__item:last-child::after{
    margin-right:  0px;
} 

.consult{
    padding: 120px 0px;
    color: white;
    background-color: black;
    margin-bottom: 60px;
}


.consult-list{
    font-size: 0;
    width: 959px;
    margin: 0 auto;
    
}

.consult-list__item{
    font-family: 'Exo' , sans-serif;
    display: inline-block;
    margin-right: 80px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.consult-list__item:last-child{
    margin-right: 0px;
}

.consult-list__item:nth-child(2){
    text-transform: capitalize;
}

.consult-list__item:before{
    content:"";
    width: 18px;
    height: 18px;
    background-image: url("../img/phone.svg");
    margin-right: 20px;
}

.consult-list__item:nth-child(1):before{
    background-image: url("../img/phone.svg");
}

.consult-list__item:nth-child(2):before{
    background-image: url("../img/point-mark.svg");
}

.consult-list__item:nth-child(3):before{
    height: 17px;
    background-image: url("../img/email.svg");
}
/* НЕ ПО МАКЕТУ ПРОСТО ПРАКТИКА ДО ПОСИЛАННЯ */
.consult-list__item:hover{
    color: darkblue;
}
.consult-list__item:active{
    color: darkorchid;
} 
.consult-list__item a:visited {
    color: pink;
} 


.greeting__wrapper{
    font-family: "Proxima Nova";
    width: 1071px;
    margin: 0 auto;
    font-size: 0;
}

.greeting__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 40px;
}

.greeting__img{
    margin-bottom: 40px;
}

.greeting__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    margin-bottom: 40px;
}
.greeting__text p:not(:last-child){
    margin-bottom: 20px;
}


.greeting-list{
    margin-bottom: 40px;
} 

.greeting-list__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 30px;
} 


.greeting-items{
    font-size: 0; 
    
}

.greeting-items__item p{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    vertical-align: top;
    max-width: 90%;
}
.greeting-items__item::before{
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: url("../img/mark-list.png");
    margin-right: 15px;
    margin-top: 3px;
}
.greeting-items__item:not(:last-child){
    margin-bottom: 20px;
}

.greeting__conclusions{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
}
.game{
  color: white;
  cursor: url("../img/games.png") 20 20, auto;
}

.game__wrapper{
    background: url("../img/pacman_layout.jpg") 0 0 / 700px 700px no-repeat;
    width: 1071px;
    margin: 0 auto;
    height: 712px;
}

.game__title{
    padding-left: 20px;
    padding-top: 20px;
    font-family: "Timmana" , fantasy;
    font-size: 45px;
    font-weight: 900;
    color: rgba(49, 52, 79, 1);
}

.game__blocks{
    display: inline-block;
   
    
} 
.game__block{
    visibility: hidden;
    background: yellow url("../img/pacman-svgrepo-com.svg") 0 0 /15px no-repeat;
}
.game__block:nth-child(1){
    visibility: visible;
    height: 20px;
    width: 20px;
    
}
.game__block:nth-child(2){
    height: 255px;
    width: 20px;
    
}
.game__block:nth-child(3){
    height: 20px;
    width: 200px;
    
}
.game__block:nth-child(4){
    margin-left:180px ;
    height: 170px;
    width: 20px;
}
.game__block:nth-child(5){
    margin-top:-20px ;
    margin-left:180px ;
    height: 20px;
    width: 200px
    
}
.game__block:nth-child(6){
    margin-top: -20px;
    margin-left: 380px;
    height: 20px;
    width: 90px;
   
}
.game__block:nth-child(7){
    margin-top: -190px;
    margin-left: 450px;
    height: 190px;
    width: 9px;
   
}
.game__block:nth-child(8){
    margin-top: -190px;
    margin-left: 410px;
    height: 10px;
    width: 60px;
 
}
.game__block:nth-child(9){
    margin-top: -70px;
    margin-left: 410px;
    height: 70px;
    width: 10px;

}
.game__block:nth-child(10){
    margin-top: -70px;
    margin-left: 350px;
    height: 10px;
    width: 70px;

}
.game__block:nth-child(11){
    margin-top: -10px;
    margin-left: 350px;
    height: 50px;
    width: 10px;
}
.game__block:nth-child(12){
    margin-top: -10px;
    margin-left: 350px;
    height: 10px;
    width: 10px;
    
}


.game__block:hover:nth-child(1) + .game__block{
    visibility: visible;
    height: 255px;
    width: 20px;
    
}
.game__block:hover:nth-child(2){
    visibility: visible;
    height: 255px;
    width: 20px;
   
}
.game__block:hover:nth-child(2) + .game__block{
    visibility: visible;
    height: 20px;
    width: 200px;

}
.game__block:hover:nth-child(3){
    visibility: visible;
    height: 20px;
    width: 200px;

}
.game__block:hover:nth-child(3) + .game__block{
    visibility: visible;
    margin-left:180px ;
    height: 170px;
    width: 20px;

}
.game__block:hover:nth-child(4){
    visibility: visible;
    margin-left:180px ;
    height: 170px;
    width: 20px;

}
.game__block:hover:nth-child(4) + .game__block{
    visibility: visible;
    margin-top:-20px ;
    margin-left:180px ;
    height: 20px;
    width: 200px;
}
.game__block:hover:nth-child(5){
    visibility: visible;
    margin-top:-20px ;
    margin-left:180px ;
    height: 20px;
    width: 200px;

}
.game__block:hover:nth-child(5) + .game__block{
    visibility: visible;
    margin-top: -20px;
    margin-left: 380px;
    height: 20px;
    width: 90px;
}
.game__block:hover:nth-child(6){
    visibility: visible;
    margin-top: -20px;
    margin-left: 380px;
    height: 20px;
    width: 90px;
}
.game__block:hover:nth-child(6) + .game__block{
    visibility: visible;
    margin-top: -190px;
    margin-left: 420px;
    height: 190px;
    width: 20px;
}

.game__block:hover:nth-child(7){
    visibility: visible;
    margin-top: -190px;
    margin-left: 420px;
    height: 190px;
    width: 20px;
}
.game__block:hover:nth-child(7) + .game__block{
    visibility: visible;
    margin-top: -190px;
    margin-left: 410px;
    height: 10px;
    width: 60px;
}
.game__block:hover:nth-child(8){
    visibility: visible;
    margin-top: -190px;
    margin-left: 410px;
    height: 10px;
    width: 60px;
}
.game__block:hover:nth-child(8) + .game__block{
    visibility: visible;
    margin-top: -70px;
    margin-left: 410px;
    height: 70px;
    width: 10px;
    ;
}
.game__block:hover:nth-child(9){
    visibility: visible;
    margin-top: -70px;
    margin-left: 410px;
    height: 70px;
    width: 10px;

}
.game__block:hover:nth-child(9) + .game__block{
    visibility: visible;
    margin-top: -70px;
    margin-left: 350px;
    height: 10px;
    width: 70px;

}
.game__block:hover:nth-child(10){
    visibility: visible;
    margin-top: -70px;
    margin-left: 350px;
    height: 10px;
    width: 70px;
}
.game__block:hover:nth-child(10) + .game__block{
    visibility: visible;
    margin-top: -10px;
    margin-left: 350px;
    height: 50px;
    width: 10px;
}
.game__block:hover:nth-child(11){
    visibility: visible;
    margin-top: -10px;
    margin-left: 350px;
    height: 50px;
    width: 10px;
}
.game__block:hover:nth-child(11) + .game__block{
    visibility: visible;
    margin-top: -10px;
    margin-left: 350px;
    height: 20px;
    width: 20px;
}
.game__block:hover:nth-child(12){
    visibility: visible;
    margin-top: -10px;
    margin-left: 350px;
    height: 20px;
    width: 20px;
}

.game__block:hover:nth-child(12) + .game__block{
    visibility: visible;
    
}
.game__blockk:hover:nth-child(12){
    visibility: visible;
    
}
.win {
    margin-left: 350px
}