@import url("fonts.css");
@import url("reset.css");

body{
     background-color: black;
}

.caption{
    text-align: center;
    margin-top: 20px;
}

.caption__title{
    line-height: 3;
    font-family: "Timmana" , fantasy;
    font-size: 40px;
    font-weight: 900;
    color: #75000054;
}
.footer__item{
    padding: 70px;
    text-align: center;
}

.footer__item a{
    border: 1px grey solid;
    border-radius: 30px;
    padding: 20px;
    font-size: 40px;
    
}
.footer__item a:hover{
    border-radius: 30px;
    box-shadow: 2px 2px 2px black,
   inset 2px 2px 2px black   ;
}


.wrapper {
    overflow: clip;
    min-height: 100%;
}
.tran2d{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.title{
    text-align: center;
    line-height: 3;
    font-family: "Timmana" , fantasy;
    font-size: 30px;
    font-weight: 900;
    color: #2c0000;
}
.tran2d__item{
    background-color: rgba(27, 27, 27, 0.205);
    display: inline-block;  
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}
.tran2d__item--mergin,
.tran3d__item--mergin
:not(:last-child){
    margin-right: 20px;
}

.tran2d__item--pos::after{
    font-family: "Timmana" , fantasy;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    content: "HOVER ME";
    width: 200px;
    height: 200px;
    background-color: #2c0000;
    position: absolute;
    top: 0;
    left: 0;
}
.tran2d__item--translate:hover:after{
    content: "transform: translate(20px,40px);";
    transform: translate(20px,40px);
}
.tran2d__item--translate2:hover:after{
    content: " translate(20%,10%)";
    transform: translate(20%,10%);
}

.tran2d__item--translate3:hover:after{
    content: "translateX(200px)";
    transform: translateX(200px);
}



.tran2d__item--scale:hover:after{
    content: "transform: scale(120%);";
    transform: scale( 120% );
}
.tran2d__item--scale2:hover:after{
    content: "transform: scale( 1.5);";
    transform: scale( 1.5);
}
.tran2d__item--scale3:hover:after{
    content: "transform: scale( 0.5, 1.5 );";
    transform: scale(  0.5, 1.5 );
}
.tran2d__item--rotate:hover:after{
    content: " transform: rotate(35deg)";
    transform: rotate(35deg);
    
}
.tran2d__item--rotate2:hover:after{
    content: " transform: rotate(35deg)";
    transform: rotate(135deg);
    
}
.tran2d__item--rotate3:hover:after{
    content: " transform: rotateY(-135deg)";
    transform: rotateY(-135deg);
    
}
.tran2d__item--skew:hover:after{
    content: " transform: skew(-30deg 10deg)";
    transform: skew(-30deg, 10deg);
}

.tran2d__item--matrix:hover:after{
    content: "  transform: translate(20px, 40px) scale(120% ) rotate(35deg) skew(-30deg, 10deg)";
    transform: translate(20px, 40px) scale(120% ) rotate(35deg) skew(-30deg, 10deg);
}
.tran2d__item--origin:hover:after{
    content: " transform-origin: 0 0";
    transform-origin: top right;
    transform: rotate(-45deg);
}

.tran3d{
    perspective: 400px;
    transform-style: preserve-3d;
    width:  800px;
    margin: 0 auto;
    text-align: center;
}

.tran3d__item{
    background-color: rgba(27, 27, 27, 0.205);
    display: inline-block;  
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    position: relative;
}

.tran3d__item--pos::after{
    font-family: "Timmana" , fantasy;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    content: "HOVER ME";
    width: 200px;
    height: 200px;
    background-color: #2c0000;
    position: absolute;
    top: 0;
    left: 0;
}
.tran3d__item--translate:hover:after{
    content: "transform: translate3d(20px,40px, 50px);";
    transform: translate3d(20px,40px,50px);
}



.tran3d__item--scale:hover:after{
    content: "scale3d( 1.2,1.4,1.5)";
    transform: scale3d( 1.2,1.4,1.5);
}

.tran3d__item--rotate:hover:after{
    content: " rotate3d(10,10,1,35deg)";
    transform: rotate3d(10,10,1,35deg);
    
}


.tran3d__item--matrix:hover:after{
    content: "translate3d(20px, 40px,50px) scale3d(1.2,1.4,1.5 ) rotate3d(10,10,1,35deg)";
    transform: translate3d(20px, 40px,50px) scale3d(1.2,1.4,1.5 ) rotate3d(10,10,1,35deg);
}

.car{
    height: 500px;
    width: 1150px;
    margin: 0 auto;
    background-color: #e1e9e5;
    background: url("../img/forest.jpg") no-repeat;
} 

.car__wrapper{
    position: relative;
} 


.car__back--pos{
    position: absolute;
    top: 320px;
    right: 100px;
    background-color: #2c0000;
    width: 250px;
    height: 100px;
    border-top-right-radius: 40px;
}

.car__back--pos:hover .car__capot--pos{
    position: absolute;
    transform-origin: top left;
    transform: rotate(-45deg);
    
    width: 250px;
    height: 100px;
    border-top-right-radius: 40px;
    border-top: 10px solid #2c0000;
}

.car__wheel--pos{
    position: absolute;
    top: 30px;
    right: 100px;
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed grey;
}
.car__disk--pos:nth-child(1){
    transform: translate(35px ,5px);
    position: absolute;
    top: 35px;
    right: 40px;
    background-color: grey;
    width: 80px;
    height: 5px;

}
.car__disk--pos:nth-child(2){
    transform-origin: 70px 10px;
    transform: translate(35px ,5px);
    transform: rotate(50deg);
    position: absolute;
    top: 35px;
    right: 40px;
    background-color: grey;
    width: 80px;
    height: 5px;

}
.car__disk--pos:nth-child(3){
    transform-origin: 75px 10px;
    transform: translate(35px ,5px);
    transform: rotate(35deg);
    position: absolute;
    top: 35px;
    right: 40px;
    background-color: grey;
    width: 80px;
    height: 5px;

}

.car__midle--pos{
    position: absolute;
    top: 320px;
    right: 350px;
    background-color: #2c0000;
    width: 250px;
    height: 100px;

}
.car__window--pos{
    border: 4px solid #2c0000;
    position: absolute;
    bottom: 100px;
    right: 0px;
    background-color:  rgba(127, 255, 212, 0.479);
    width: 250px;
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.car__front--pos{
    position: absolute;
    top: 320px;
    left: 300px;
    background-color: #2c0000;
    width: 250px;
    height: 100px;
    border-top-left-radius: 100px;
}

.car__light--pos{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 30px;
    height: 20px;
    border-top-left-radius: 100px;
    background-color:#9c9723;
}
.car__light--pos:hover{
   box-shadow:0px 0px 90px 60px #9c9723;
}
.peson-car{
    position: absolute;
    top: 5px;
    left: 120px;
    width: 50px;
    height: 70px;
    border-top-right-radius: 60%;
    border-top-left-radius: 60%;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: green;

}
.peson-car__eye--pos:nth-child(1){
    position: absolute;
    top:15px;
    left: 20px;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: black;
}
.peson-car__eye--pos:nth-child(2){
    position: absolute;
    top: 15px;
    left: 40px;
    width: 9px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
}

.peson-car__sh--pos{
    position: absolute;
    top: 25px;
    left: 20px;
    width: 10px;
    height: 65px;
    background-color: green;
}

.peson-car__arm--1{
    transform: rotate(-45deg);
    position: absolute;
    top: 35px;
    left: 0px;
    width: 5px;
    height: 60px;
    background-color: green;
}
.peson-car__arm--2{
    transform: rotate(-65deg);
    position: absolute;
    top: 50px;
    left: 0px;
    width: 5px;
    height: 60px;
    background-color: green;
}


.peson-car__m--pos{
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 25px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: green;
}
.peson-car__m2--pos{
    position: absolute;
    top: 44px;
    left: 25px;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: black;
}

.car__wheel-w--pos{
    position: absolute;
    top: 60px;
    left: 45px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border-top:5px  solid black ;
}



