@import url("fonts.css");
@import url("reset.css");




.caption{
    text-align: center;
    margin-top: 30px;
}

.caption__title{
    font-family: "Timmana" , fantasy;
    font-size: 55px;
    font-weight: 900;
    color: rgba(49, 52, 79, 1);
}
.footer__item{
    padding: 70px;
    text-align: center;
}

.footer__item a{
    border: 1px grey solid;
    border-radius: 30px;
    padding: 20px;
    font-size: 40px;
    
}
.footer__item a:hover{
    border-radius: 30px;
    box-shadow: 2px 2px 2px white ,
   inset 2px 2px 2px white ;
}

